*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
  
}
body{
  font-family: sans-serif, arial, helvetica;
  /* font-size: 20px; */
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.container{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  
}
.box{
  border-style: dashed;
  border-width: 2px;
  height:520px;
  }
.btn{
  padding: 10px 15px;
  border-radius: 100px;
  background-color: white;
  font-weight: 500;
  border: 2px solid white;
  font-size: 14px;

}
.btn:hover {
  box-shadow: 0 10px 16px 0 rgba(108, 1, 196, 0.24),0 17px 50px 0 rgba(108, 1, 196,0.19);
  
}
  /* HEADER */
  header{
  background-color: #255EE9;
  padding: 10px;
  display: flex;
  justify-content: center;
   
}
.navbox{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 75%;
  max-width: 1400px;
  font-weight: 600;
  font-size: 14px;
  
}
.logo{
  display: flex;
  padding:8px 130px 8px 10px;

  
}
.nav{
  padding-top: 8px;
  padding-bottom: 8px;
  flex-grow: 1; 
  /* padding:8px 273px; */
  
}
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li{
  padding-left: 3px;
}
.login{
  display: flex;
  padding:8px 10px 8px 130px;
  
}
/* HERO */
.container.hero{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  
}
.box.top{
  width: 75%;
  height: 355px;
  margin: 0 auto;
  border: none; /*DEBUG */
  max-width: 960px;
  color: white;
  text-align: center;
  
}
.box.top > h1 {
  margin: 30px;
  font-size: 50px;
}
.box.top > p{
  
  line-height: 25px;
  font-weight: 500;
}
.box.top > a > button{
  margin: 20px;
  padding: 10px 25px;
  font-size: 16px;
}
.btn.black{
  color: white;
  background-color: black;
  border-color: black;
}

/* FIRST SECTION */
.second.container{
  
  
}
.box.one-left{
  background-image: url(../img/item1.svg);
  width: 55%;
  max-width: 700px;
}
.box.one-right{
  background-color:#FFC0CB;
  width:35%;
  max-width: 700px;
  
}
/* SECOND SECTION */
.third.container{
  background-color:#D3D3D3;
  
}
.box.two-left{
  background-color:#FFC0CB;
  width:35%;
  max-width: 700px;
}
.box.two-right{
  background-color: #1E90FF;
  width: 55%;
  max-width: 700px;
}
 /* FIFTH SECTION*/
.grey.container{
  background-color:#D3D3D3;
}
 .box.green{
  background-color: #228B22;
  width:90%;
  max-width: 1400px;
  height:930px;
}
/* BLACK SECTION */
.black.container{
  background-color:#23272A ;
  border-bottom: 2px #D7D7D8 solid;
  
}
.box.red{
  background-color: #F08080;
  width: 30%;
  height:600px;
  max-width: 465px;
}
.box.small{
  background-color: #20B2AA;
  width: 15%;
  height:600px;
  border-color: white;
  max-width: 235px;
}
/* FOOTER */
footer{
  background-color:#23272A ;
  height:120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.bottom{
  height: 80px;
  background-color:#7FFFD4;
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.tiny.box{
  background-color:#FFB7C2;
  width: 100px;
  height: 35px;
  text-align: center;

}